body {
    font-size: 1.25rem;
}

.avatar {
    max-width: 100%;
}

.text_header_post{
    font-size: 2.7rem;
}

.post-img{
    width: 60%;
    height: 70%;
}

.text_body_post{
    font-size: 1.3rem;
}

.avatar-com{
    width: 800;
    height: 32;
}