{% extends 'base.html' %}

{% block content %}

<p class="text_header_post">
    {{ post.title }}
</p>
<p>
    {{ post.author }}
    {{ post.date.strftime('%d.%m.%Y') }}
</p>
<div>
    <p>
        <img src="{{ url_for('static', filename='images/' + post.image_id) }}" class="rounded mx-auto d-block post-img"
            alt="img_post">
    </p>
</div>
<div class="text_body_post">
    <section>
        <p>
            {{ post.text }}
        </p>
    </section>
</div>

<form>
    <div class="card">
        <h5 class="card-header">Оставьте комментарий</h5>
        <div class="card-body">
          <div class="mb-3">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <a href="#" class="btn btn-secondary">Отправить</a>
        </div>
    </div>
</form>

<section>
    <p></p>
    {% for comment in post.comments %}
    <div class="d-flex">
        <div class="flex-shrink-0">
            <img src="{{ url_for('static', filename='images/avatar.jpg') }}" class="rounded-circle" width="65" alt="Sample Image">
        </div>
        <p></p>
        <div class="flex-grow-1 ms-3">
            <h5>{{ comment.author }}</h5>
            <p>{{ comment.text }}</p>
            
            {% for reply in comment.replies %}
            <div class="d-flex mt-4">
                <div class="flex-shrink-0">
                    <img src="{{ url_for('static', filename='images/avatar.jpg') }}" class="rounded-circle" width="65" alt="Sample Image">
                </div>
                <div class="flex-grow-1 ms-3">
                    <h5>{{ reply.author }}</h5>
                    <p><p>{{ reply.text }}</p></p>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}